<h1 class="text-white">Countries</h1>
<hr style="color: gray" />
<ul class="list-group ps-0">
  <li
    [routerLink]="['countries/by-capital']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item list-group-item-dark ps-2"
  >
    Capital
  </li>
  <li
    [routerLink]="['countries/by-country']"
    routerLinkActive="active"
    class="list-group-item list-group-item-dark ps-2"
  >
    Country
  </li>
  <li
    [routerLink]="['countries/by-region']"
    routerLinkActive="active"
    class="list-group-item list-group-item-dark ps-2"
  >
    Region
  </li>
</ul>
