<h1 class="text-white">Region</h1>
<hr />

<div class="row">
  <div class="col text-center">
    <button
      class="btn mx-2 btn-dark"
      *ngFor="let region of regions"
      (click)="onSearchByRegion(region)"
      [ngClass]="{ 'btn-outline-light': region === selectedRegion }"
    >
      {{ region }}
    </button>
  </div>
</div>

<h2 class="text-white pt-2">Table</h2>
<div class="row">
  <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
  <country-table [countries]="countries"></country-table>
</div>
