<div
  class="alert alert-warning text-center"
  *ngIf="!countries.length; else table"
>
  not found country
</div>

<ng-template #table>
  <table style="width: 100%" class="table table-hover table-dark">
    <caption>
      all capitals
    </caption>
    <thead class="text-white text-center text-blod mb-3">
      <th>#</th>
      <th>Icon</th>
      <th>Flag</th>
      <th>Name</th>
      <th>Capital</th>
      <th>Population</th>
      <th>View detail</th>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td class="text-center">{{ i + 1 }}</td>
        <td class="text-center">{{ country.flag }}</td>
        <td class="text-center">
          <img
            style="width: 35px"
            [src]="country.flags.svg"
            [alt]="country.name.common"
          />
        </td>
        <td class="text-center">{{ country.name.common }}</td>
        <td class="text-center">{{ country.capital }}</td>
        <td class="text-center">{{ country.population }}</td>
        <td class="text-center"><a href="#">view detail </a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
